<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:jms="http://www.springframework.org/schema/jms"
        xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms.xsd">
            
            
	<bean id="cacheProducerConnFactory" class="org.springframework.jms.connection.CachingConnectionFactory">
    	<constructor-arg name="targetConnectionFactory" ref="jmsProducerConnectionFactory"></constructor-arg>
    	<property name="sessionCacheSize" value="330"></property>
	</bean>
            
    <!-- 配置连接工厂 -->
    <bean id="jmsProducerConnectionFactory" class="org.apache.qpid.client.AMQConnectionFactory">
        <constructor-arg index="0" value="${jms.conn.url}"/> 
    </bean>
    
      <!-- 配置template,传入连接工厂 -->
    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="cacheProducerConnFactory"/>
        <property name="messageConverter" ref="simpleMessageConverter"/>
    </bean>
    
    <bean id="dbUpdateDestination" class="org.apache.qpid.client.AMQAnyDestination">
        <constructor-arg index="0"  value="${exchange.client.update}"/>
    </bean>
    
    <bean id="mqProducter" class="com.lyx.ag.mq.sender.SimpleMessageSender">
    	<constructor-arg name="destination" ref="dbUpdateDestination"></constructor-arg>
    	<constructor-arg name="jmsTemplate" ref="jmsTemplate"></constructor-arg>
    </bean>

</beans>
